<html>
{% load static from staticfiles %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12"><h1> Seleccione el mes para ver las lineas que no han cancelado</h1></div>
    </div>

    <div class="col-md-12 col-xs-12">
    {% for mes in object_list%}
        <div class="col-xs-1">
            <button type="button" class="Btn-c btn-default" id="{{mes.id}}">{{mes.mes}}</button>
        </div>
    {% endfor %}
    <div id="count"></div>
    <div id="datos"></div>
</div>

<script>
    $(".Btn-c").on("click" , HizeClick);
    function HizeClick(){
    	var id = $(this).attr("id");
        var fTag = "<tr>";
        var endTag = "</tr>";
        var cuenta = 0;
    	$("#datos").html("");


    	$.ajax({

    		data : {"id" : id},
    		url : "/consulta-ajax",
    		type : "get",
    		success : function(data){
    			var html = "<table class='table table-bordered'> ";
    			for(i=0; i<data.length ; i++){
                    cuenta=i 
                    var tx = ""
                    if (data[i].numero == null) { tx = "Sin numero asignado"} else {tx = data[i].numero}
    				html += fTag + 
                    "<td>" + data[i].ide + "</td>" + 
                    "<td>" +  tx + "</td>" + 
                    endTag  ;
    			}

    			$("#datos").html(html+"</table>");
    			$("#count").html(cuenta);
    		}



    	});
    }
</script>

</html>
