<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


</script>

{% for mes in object_list%}
	
	<button type="button" class="Btn-c" id="{{mes.id}}">{{mes.mes}}</button>
	
{% endfor %}

<div id="datos"></div>

<script>
    $(".Btn-c").on("click" , HizeClick);
    function HizeClick(){
    	var id = $(this).attr("id");
    	$("#datos").html("");


    	$.ajax({

    		data : {"id" : id},
    		url : "/consulta-ajax",
    		type : "get",
    		success : function(data){
    			var html = "";
    			for(i=0; i<data.length ; i++){

    				html += "<div>" + data[i].cliente + "-" + data[i].numero + "-" + data[i].ide +"</div>" ;
    			}

    			$("#datos").html(html);
    			
    		}



    	});
    }
</script>

</html>
