<html>
{% load bootstrap3 %}
{% load static from staticfiles %}
<div class="container">
<div class="col-xs-12">
<link rel="stylesheet" href="{% static 'bootstrap.min.css'%}">
<form action="" method="post">{% csrf_token %}
<div class="row">
     <div class="col-md-12">{% bootstrap_field form.ide %}</div>
     <div class="col-md-12">{% bootstrap_field form.numero %}</div>
     <div class="col-md-12">{% bootstrap_field form.cliente %}</div>
     <div class="col-md-12">{% bootstrap_field form.meses %}</div>
     {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} 	Crear
        </button>
    {% endbuttons %}

</div>
</form>
</div>
</div>
</html>