<html>
{% load static from staticfiles %}

<head>
 <!-- all css -->
<link rel="stylesheet" href="{% static 'bootstrap.min.css'%}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<table class="table table-bordered table-responsive">
<tr>
	<th>ID</th>
	<th>Número</th>
	<th>Estado</th>
</tr>
{%for sim in object_list%}
	
	<tr>
    <td><a href="{% url 'sim_update' sim.id %}">{{sim.ide}}</a></td>
    <td>{% if not sim.numero %}
			Sin número asignado 
		{% else %}
			{{sim.numero}} 
		{% endif %}
	</td> 
    <td>{% if sim.activa %}

					ACTIVA
				{% else %}

					INACTIVA		
				{% endif %}</td>
  </tr>
	

{% endfor %}
</table>
</body>
</html>