<html lang="ES">
{% load bootstrap3 %}
{% load static from staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="container">
<form action="" method="post">{% csrf_token %}
<div class="row">
     <div class="col-md-12">{% bootstrap_field form.ide %}</div>
     <div class="col-md-12">{% bootstrap_field form.numero %}</div>
     <div class="col-md-12">{% bootstrap_field form.cliente %}</div>
     <div class="col-md-12">{% bootstrap_field form.valor %}</div>
     <div class="col-md-12">{% bootstrap_field form.meses %}</div>
     {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Guardar
        </button>
    {% endbuttons %}

</div>
</form>
</div>
</html>